<h1>New Profile</h1>

<<<<<<< HEAD
<!-- #embedded ruby allows to use dynamic content -->
<!-- _form creating links to partial  -->
<!-- partial is a reusable view  -->
=======
>>>>>>> d3fe4a23227c3ece41399469052121332a62fbea
<%= render 'form', profile: @profile %>
