<div class="jumbotron">
<<<<<<< HEAD
<h1>iSell</h1>
<h3>Where people come to buy stuff</h3>
=======
  <h1>iSell</h1>
  <h3>Where people come to buy stuff</h3>
  <!-- <button type="button" class="btn btn-primary">Sign Up</button>
  <button type="button" class="btn btn-info">Sign In</button> -->
>>>>>>> d3fe4a23227c3ece41399469052121332a62fbea

  <!-- Add Links that look like buttons via bootstrap classes -->
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-info" %>

<<<<<<< HEAD
<!-- Add links that look like buttons via bootstrap classes -->
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Sign In", new_user_session_path, class: "btn btn-info" %>


</div>


=======
</div>

<!-- Homework -->
>>>>>>> d3fe4a23227c3ece41399469052121332a62fbea
<!-- Add an About/Contact me page that can be linked through navbar -->
<!-- Add background image? on homepage -->
<!-- Add more prominent sign up and sign in buttons on the homepage -->
